@import 'variables';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 1600px;
    margin: 0 auto;
}

@media (max-width: 600px){
    .container{
        width: 100%;
    }
}